$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;

.input {
    &__description {
        color: #6c757d;
        font-size: 13px;
        margin: 0;
    }
}

.re-form-generator {
    width: calc(100% - 40px);
    border: 1px solid #0000003b;
    padding: 20px;
    border-radius: 20px;
    background: #FFFFFF;

    .select-input {
        position: relative;
        appearance: none;
        -webkit-appearance: none;
        width: 100%;
        font-size: 14px;
        height: 44px;
        padding: 0.675em 6em 0.675em 1em;
        background-color: #fff;
        border: 1px solid #caced1;
        border-radius: 0.25rem;
        color: #000;
        cursor: pointer;

        &::after,
        &::before {
            content: "";
            position: absolute;
            right: 1rem;
            pointer-events: none;
        }

        &::before {
            border-left: 0.3rem solid transparent;
            border-right: 0.3rem solid transparent;
            border-bottom: 0.3rem solid black;
            top: 40%;
        }

        &::after {
            border-left: 0.3rem solid transparent;
            border-right: 0.3rem solid transparent;
            border-top: 0.3rem solid black;
            top: 55%;
        }
    }

    .group-title {
        font-size: 24px;
        padding-bottom: 6px;
        margin-bottom: 20px;
        border-bottom: 1px solid #cbd5e1;
    }

    textarea {
        resize: none;
        height: 90px;
        font-size: 14px;
        line-height: 17px;
        color: #252733;
        background: #FAFAFA;
        padding: 12px;
        border: 1px solid #E3E8EB;
        border-radius: 5px;
        width: 100%;
        font-size: 14px;
        color: #252733;
        box-sizing: border-box;
        font-family: inherit;
    }

    .input-text,
    .input-email,
    .input-date,
    .input-month,
    .input-number,
    .input-datetime-local,
    .input-tel,
    .input-time,
    .input-url,
    .input-week,
    .input-password,
    .select-input {
        background: #FAFAFA;
        padding: 12px;
        border: 1px solid #E3E8EB;
        border-radius: 5px;
        width: 100%;
        font-size: 14px;
        color: #252733;
        box-sizing: border-box;
        font-family: inherit;
        height: 43px;

        &.input-checkbox {
            height: 18px;
            width: 18px;
            background-color: #eee;
            margin: 0;
        }
    }

    .row-container {
        display: flex;
        gap: 10px;
        flex-grow: 12;

        @media (max-width: $tablet-breakpoint) {
            display: block;
        }

        @for $i from 1 through 12 {
            .col-#{$i} {
                width: calc((100% / 12) * #{$i});
            }
        }

        // Mobile columns
        @media (max-width: $tablet-breakpoint) {
            @for $i from 1 through 12 {
                .col-#{$i} {
                    width: 100%;
                }
            }
        }

    }

    .input__label {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 12px;
        display: inline-block;
    }

    .error-message {
        font-size: 12px;
        color: #FF6868;
    }

    /* Rounded sliders */
    .switch {
        position: relative;
        display: inline-block;
        width: 45px;
        height: 25px;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #83888F;
        transition: .4s;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 21px;
            width: 21px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            transition: .4s;
            transition: .4s;
        }
    }

    input {
        &:checked {
            + {
                .slider {
                    background-color: #2196F3;

                    &:before {
                        transform: translateX(20px);
                    }
                }
            }
        }

        &:focus {
            + {
                .slider {
                    box-shadow: 0 0 1px #2196F3;
                }
            }
        }
    }

    .slider.round {
        border-radius: 34px;

        &:before {
            border-radius: 50%;
        }
    }

    .input-group {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0 0 16px 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;

        &.hasErrors {

            input,
            .multi-select,
            .select-input {
                border: 1.5px solid #FF6868;
                border-radius: 5px;
            }

            .file-field-container {
                border: 1.5px solid #FF6868;
                border-radius: 5px;
            }
        }

        &.input-checkbox-container {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: start;
            gap: 0.5rem;

            .input__label {
                margin-bottom: 0px;
                margin-left: 6px;
                font-weight: normal;
            }

            .error-message {
                flex-basis: 100%;
                position: absolute;
                bottom: 0px;
            }

            &.hasErrors {
                margin-bottom: 16px;
            }
        }

        &.input-checkboxGroup-container {
            .checkboxGroup {
                .label {
                    margin-bottom: 0px;
                    margin-left: 6px;
                    font-weight: normal;
                }
            }
        }

        &.two-columns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .submit-container {
        display: flex;
        margin-top: 16px;

        &__button {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            background-color: #2196f3;
            color: #ffffff;
            cursor: pointer;
            transition: background-color 0.3s ease;
            width: 100%;

            &:hover {
                background-color: #1565c0;
            }
        }
    }

    .radioGroup {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &-element {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            align-items: center;

            .label {
                font-weight: normal;
            }
        }

        .input-radio {
            padding: 2px;
            margin: 0;
        }
    }

    .hidden {
        display: none;
    }

    .form-error-message {
        display: flex;
        justify-content: center;
        align-items: center;

        &__message {
            color: #FF6868;
            font-size: 12px;
            font-weight: 700;
        }
    }
}